@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<WebHoaqua.Models.Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row" style="margin-left: 100px">
    
    <div style="width: 100%">
        <h1>Quản lý Customer</h1>

        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <form asp-action="Index" method="get" class="form">
            <div>
                <label>Tên</label>
                <input type="text" name="name" />
            </div>
            <div>
                <button class="btn btn-success" type="submit">Gửi</button>
            </div>
        </form>
    </div>

    <div style="margin-top: -300px">
        
<table class="table">
    <thead>
        <tr>
            <th>
                CustomerName
            </th>
            <th>
                    State
            </th>
            <th>
                    Phone
            </th>
            <th>
                    Note
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CustomerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CustomerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
    <div class="class1">
            @Html.PagedListPager(Model, page => Url.Action("Index", "AdminCustomers", new { page = page }))
    </div>
    </div>

</div>